@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(253, 253, 253);
    font-family: "Roboto Mono";
}
#app {
    height: 100%;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333 ;
}
#navbar > ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    user-select: none;
    /* background-color: #203040; */
}

#search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
}

#group-name {
    border-bottom: 1px solid black;
}

#search-bar input {
    width: 75%;
    padding: 0.5em 0.75em 0.5em 2.25em; 
    border-radius: 0.5em 0 0 0.5em;
    border: 1px solid #ccc;
    background:
        url('/assets/search.svg') no-repeat 0.6em center;
    background-size: 1em;

    transition: box-shadow 0.2s ease;
}

#search-bar input:hover {
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #3498DB;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

#search-bar button:hover {
    background-color: #2c7bb0;
}

.nav-item {
    list-style-type: none;
    padding: 0.5em;
    font-size: 1.1em;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
    height: 100%;
}

.nav-item a.router-link-active, .nav-item.active a{
    border-bottom: 2px solid #3498DB;
    color: #3498DB;
    font-weight: 700;
}

.nav-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.2em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: #3498DB;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.nav-item button:hover {
    background-color: #2c7bb0;
}

.nav-item button:active {
    background-color: #3289c4;
}

#navbar #search-bar {
    width: 50%;
}

#start {
    text-align: center;
    max-width: 90%;
}

#community {
    display: flex;
    flex-direction: row;
}

#group-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid #ccc;
}

#group-list h1 {
    margin: 1em auto 0;
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding-bottom: 0.5em;
}

#group-list ul {
    padding: 0;
    height: 76.25vh;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden; 
    scroll-behavior: smooth;  
    padding-right: 1rem; 
    box-sizing: content-box; 
    padding: 0;
}

#group-list li {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    width: 100%;
    padding: 0;
}

#group-list a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em 0 1em;
    text-decoration: none;
    color: black;
}


#chat-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 1em;
    justify-content: space-between;
    /* background-color: aqua; */
}

#chat-section ul {
    display: flex;
    flex-direction: column-reverse;
    max-height: 67vh;
    overflow-y: auto;
    overflow-x: hidden; 
    scroll-behavior: smooth;  
    padding-right: 1rem; 
    box-sizing: content-box; 
}

#chat-section li {
    list-style-type: none;
}


.group-name {
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.group-name a {
    font-weight: 400;
}

.group-name.active a {
    font-weight: 600;
}

.group-name:hover {
    background-color: #d9d9d9;
    transform: translateY(-0.25em);
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
}

.group-name.active {
    background-color: #bebebe;

}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#profile-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#file-upload {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.profileImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profileImage form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.image-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.2em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: #3498DB;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.image-submit:hover {
    background-color: #2c7bb0;
}

.image-submit:active {
    background-color: #3289c4;
}

#file-input::file-selector-button {
    background-color: #a9aaac;
    border-radius: 0.5em;
    border: 1px solid #2f2f2f;
    padding: 0.5em;
    color: rgb(30, 30, 30);
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

#file-input::file-selector-button:hover {
    background-color: #6e6e6e;
}

#profile-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#profile-description-headers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profile-edit {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
    gap: 1em;
}

#profile-edit-init {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#profile-edit-init button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.2em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: #3498DB;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

#profile-edit-init button:hover {
    background-color: #2c7bb0;
}

#profile-edit-init button:active {
    background-color: #3289c4;
}

.others {
    display: flex;
    flex-direction: row;
}

.others > :last-child {
    margin-left: auto;
}

.edit-input-box {
    width: 100%;
    padding: 0.5em 0.75em 0.5em 1em; 
    border-radius: 0.5em 0 0 0.5em;
    border: 1px solid #ccc;

    transition: box-shadow 0.2s ease;
}

.edit-input-box:hover {
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}

.edit-input-box:focus {
    outline: none;
}


.edit-submit {
    background-color: #3498DB;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.edit-submit:hover {
    background-color: #2c7bb0;
}
.edit-submit:active {
    background-color: #3289c4;
}

.edit-cancel {
    background-color: #b9c2c8;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}

.edit-cancel:hover {
    background-color: #969ca0;
}

.edit-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    justify-content: space-around;
}

@keyframes danger-pulse {
    0%, 100% {
      box-shadow: 0 0 0 rgba(255, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
    }
  }
  
.delete-btn:not(:disabled):hover {
    animation: danger-pulse 0.5s infinite ease-in-out;
    background-color: #b3241f;

}

.delete-btn {
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    background-color: #d93025;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
}

.delete-btn:disabled:hover, .delete-btn:disabled:active {
  background-color: #ccc;
  animation: none;
}

.start-editing-btn {
    background-color: #3498DB;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    color: white;
    font-weight: 600;
    cursor: pointer;

}

.start-editing-btn:disabled, .start-editing-btn:disabled:hover {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
}

.start-editing-btn:hover, .start-editing-btn:active{
    background-color: #ccc;
    animation: up-and-down 0.3s ease infinite;
}

@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.25em);
    }
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


#chat-header {
    border-bottom: 1px solid #111;
}

#input-form {
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

#message-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.75em;
    width: 100%;
    border: 1px solid #ccc;

}

#message-send {
    border-radius: 0 0.5em 0.5em 0;
    border: 1px solid #ccc;
    font-weight: 600;
}

#googleMap {
    width: 100%;
    height: 85vh;
}

.info-window {
    width: 260px;
    padding: 1em;
    background: #fff;
    border-radius: 0.75em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.3);
    line-height: 1.4;
    color: #333;
}

.info-title {
    margin: 0 0 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 3px solid #eee;
    padding-bottom: 0.25em;
}

.info-item {
    margin: 0.3em 0;
    font-size: 1em;
    font-weight: 400;
}

.info-item strong {
    color: #2f2f2f;
    font-weight: 600;
}
.hours-status {
    margin-bottom: 0.25em;
    font-style: italic;
}
.hours-line {
    font-size: 1em;
    list-style-type: none;
    font-weight: 400;
}

.search-results {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: max-content;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0; padding: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    z-index: 10;
}

.search-results li {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 0.5em;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

#profile-card {
    background-color: white;
    max-width: 500px;
    width: 90%;
    /* margin: 2em auto; */
    padding: 1.5em;
    border-radius: 0.75em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.08), 0 0.1em 0.25em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-height: 77vh;
    overflow-y: auto;
}

.editing {
    display: flex;
    flex-direction: row;
}

.me {
    color: #0056b3;
    font-weight: 500;
}

.me strong, .me span {
    color: inherit;
}