@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(253, 253, 253);
    font-family: "Roboto Mono";
}
#app {
    height: 100%;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333 ;
}
#navbar ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    user-select: none;
    /* background-color: #203040; */
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#group-name {
    border-bottom: 1px solid black;
}

#search-bar input {
    width: 75%;
    padding: 0.5em 0.75em 0.5em 2.25em; 
    border-radius: 0.5em 0 0 0.5em;
    border: 1px solid #ccc;
    background:
        url('/assets/search.svg') no-repeat 0.6em center;
    background-size: 1em;

    transition: box-shadow 0.2s ease;
}

#search-bar input:hover {
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #3498DB;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

#search-bar button:hover {
    background-color: #2c7bb0;
}

.nav-item {
    list-style-type: none;
    padding: 0.5em;
    font-size: 1.1em;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
    height: 100%;
}

.nav-item a.router-link-active, .nav-item.active a{
    border-bottom: 2px solid #3498DB;
    color: #3498DB;
    font-weight: 700;
}

.nav-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.2em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: #b23b3b;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.nav-item button:hover {
    background-color: #913131;
}

.nav-item button:active {
    background-color: #dc1d1d;
}

#navbar #search-bar {
    width: 50%;
}

#start {
    text-align: center;
    max-width: 90%;
}

#community {
    display: flex;
    flex-direction: row;
}

#group-list {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#group-list h1 {
    margin: 1em auto 0;
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding-bottom: 0.5em;
}

#group-list ul {
    padding: 0;
    height: 77vh;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden; 
    scroll-behavior: smooth;  
    padding-right: 1rem; 
    box-sizing: content-box; 
}

#group-list li {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    width: 100%;
    padding: 0;
}

#group-list a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em 0 1em;
}


#chat-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 1em;
    border-left: 1px solid #ccc;
    justify-content: space-between;
    /* background-color: aqua; */
}

#chat-section ul {
    display: flex;
    flex-direction: column-reverse;
    max-height: 69vh;
    overflow-y: auto;
    overflow-x: hidden; 
    scroll-behavior: smooth;  
    padding-right: 1rem; 
    box-sizing: content-box; 
}

#chat-section li {
    list-style-type: none;
}


.group-name {
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.group-name:hover {
    background-color: #5b7987;
}

.group-name:active {
    background-color: #90bed3;
}

#profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#profile-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#file-upload {
    display: flex;
    flex-direction: column;
}

#profileImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#profile-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#profile-description-headers {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#profile-edit {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: flex-end;
}

.others {
    display: flex;
    flex-direction: row;
}

.edit-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    justify-content: space-around;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


#chat-header {
    border-bottom: 1px solid #111;
}

#input-form {
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

#message-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.75em;
    width: 100%;
    border: 1px solid #ccc;

}

#message-send {
    border-radius: 0 0.5em 0.5em 0;
    border: 1px solid #ccc;
    font-weight: 600;
}
