<section id="community">
    <article id="group-list">
        <h1>Group Chat List</h1>
        <form @submit.prevent="createGroup($graffitiSession.value)">
            <fieldset :disabled="creatingGroup">
                <input
                    type="text"
                    v-model="createGroupName"
                    placeholder="Group Name"
                    ref="groupInput"
                    v-focus
                />
                <input
                    type="submit"
                    :value="sending? 'Creating...' : 'Create'"
                />
            </fieldset>
        </form>
        <graffiti-discover
            v-slot="{ objects: groupChatObjects }"
            :channels="['designftw']"
            :schema="{
                properties: {
                    value: {
                        required: ['activity', 'object'],
                        properties: {
                            activity: {type: 'string'},
                            object: {type: 'object'},
                        }
                    }
                }
            }"
        >   
            <ul>
                <li v-for="object of groupChatObjects" :key="object.value.object.channel" class="group-name">
                    <router-link :to="`/community/${object.value.object.channel}/${object.value.object.name}`">
                        {{ object.value.object.name }}
                    </router-link>
                </li>
            </ul>
        </graffiti-discover>
    </article>
    <article id="chat-section" v-if="chatID">
        <article>
            <h2>Group Chat: {{ groupName }}</h2>
            <!-- <article v-if="profiles">
                {{ profiles }}
            </article> -->
            <!-- <profile-image :src="'/components/defaultUser.jpg'" :width="'1.5em'" :height="'1.5em'" :round="true">
                
            </profile-image> -->
            <graffiti-discover
                v-slot="{ objects: messageObjects, isInitialPolling }"
                :channels="[chatID]"
                :schema="{
                    properties: {
                        value: {
                            required: ['content', 'published'],
                            properties: {
                                content: { type: 'string' },
                                published: { type: 'number' }
                            }
                        }
                    }
                }"
            >
                <ul reversed>
                    <li v-if="isInitialPolling">Loading...</li>
                    <li
                        v-for="(messageObj, i) of messageObjects.sort((a, b) => b.value.published - a.value.published)"
                        :key="messageObj.url"
                    >   
                        <template v-if="!editing || i !== editingIndex">
                            <article v-if="getProfileImage(messageObj.actor)" class="message-output">
                                <graffiti-get
                                    :url="getProfileImage(messageObj.actor)"
                                    :schema="graffitiFileSchema"
                                    v-slot="{ object }"
                                >
                                    <graffiti-object-to-file
                                        :object="object"
                                        v-slot="{ file, fileDataUrl }"
                                    >
                                        <p v-if="file === undefined">Loading...</p>
                                        <p v-else-if="file === null">File not found.</p>
                                        <template v-else>
                                            <section v-if="file.type.startsWith('image/')" class="message-output">
                                                <article class="profile-image">
                                                    <profile-image  :src="fileDataUrl" :width="'1.5em'" :height="'1.5em'" :round="true">
                                                    </profile-image>
                                                </article>
                                            </section>
                                        </template>
                                    </graffiti-object-to-file>
                                </graffiti-get>
                                <p><strong>
                                    {{ messageObj.actor }}<span
                                        v-if="messageObj.actor===$graffitiSession.value.actor"
                                    >
                                        (you)</span
                                    ></strong
                                >: {{ messageObj.value.content }}</p>
                                <article class="edit-message">
                                    <button @click="startEditing($graffitiSession.value, messageObj, i)" :disabled="$graffitiSession.value.actor != messageObj.actor">Edit</button>
                                    <button @click="deleteMessage($graffitiSession.value, messageObj)" :disabled="$graffitiSession.value.actor != messageObj.actor">Delete</button>
                                </article>
                            </article>
                            <article v-else class="message-output">
                                <article class="profile-image">
                                    <profile-image :src="'/components/defaultUser.jpg'" :width="'1.5em'" :height="'1.5em'" :round="true">
                
                                    </profile-image>
                                </article>
                                <p><strong>
                                    {{ messageObj.actor }}<span
                                        v-if="messageObj.actor===$graffitiSession.value.actor"
                                    >
                                        (you)</span
                                    ></strong
                                >: {{ messageObj.value.content }}</p>
                                <article class="edit-message">
                                    <button @click="startEditing($graffitiSession.value, messageObj, i)" :disabled="$graffitiSession.value.actor != messageObj.actor">Edit</button>
                                    <button @click="deleteMessage($graffitiSession.value, messageObj)" :disabled="$graffitiSession.value.actor != messageObj.actor">Delete</button>
                                </article>
                            </article>
                            <!-- <p>URL: {{ getProfileImage(object.actor) }}</p> -->
                        </template>

                        <template v-else>
                            <input ref="newMessageInput" type="text" v-model="newMessage" v-focus>
                            <button @click="editMessage($graffitiSession.value, messageObj)">Submit</button>
                            <button @click="cancelEditing()">Cancel</button>
                        </template>
                    </li>
                </ul>
            </graffiti-discover>

            <form @submit.prevent="sendMessage($graffitiSession.value)">
                <fieldset :disabled="sending">
                    <input
                        type="text"
                        v-model="myMessage"
                        placeholder="Message"
                        ref="messageInput"
                        v-focus
                    />
                    <input
                        type="submit"
                        :value="sending? 'Sending...' : 'Send'"
                    />
                </fieldset>
            </form>
        </article>
    </article>
</section>